/* Когда спиннер скрыт */
.loading__spinner.hidden + .cart-item__price-wrapper,
.loading__spinner.hidden ~ .cart-remove-button {
  opacity: 1;
  pointer-events: auto;
}

/* Когда спиннер отображается */
.loading__spinner:not(.hidden) + .cart-item__price-wrapper,
.loading__spinner:not(.hidden) ~ .cart-remove-button {
  opacity: 0.5;
  pointer-events: none;
}

.cart {
  display: none; /* Скрыто по умолчанию */
}

.cart.open {
  display: block; /* Показывается, когда класс 'open' добавлен */
}
